h1 {
  margin: 0px;
  color: #26180;
}
div {
  padding: 10px 0px;
  margin: 0px;
}
body {
  background-color: #ecc9ab;
  margin: 0px;
}
.dark {
  background-color: #4b3832;
  margin: 0px;
  padding:0px;
}
.light {
  background-color: #ecc9ab;
  margin: 0px;
  padding: 0px;
}
.links {
  display: inline;
  list-style-type: none;
  padding: 0px 15px 0px 15px;
}
#nav {
  position: sticky;
  top: 0px;
  background-color: #ecc9ab;
  padding-bottom: 5px;
   
}
img.med {
  height: 350px;
  width: 320px;
  padding: 5px;
  border-style: dotted;
}
#aboutus {
  text-alignment: center;
  width: 100%;
  top: 0px;
  margin: 0px;
  background-color: #4b3832;
  color: white;
  font-size: 30px;
  border-color: #85b79d;
  border-style: solid;
  border-width: 0px;
}
.about {
  width: 50%;
  padding: 0px 0px 20px 0px;
}
#menu {
  margin: auto;
  width: 100%;
  color: #4b3832;
  background-color: #ecc9ab;
   border-color: #85b79d;
  border-style: solid;  

  border-width: 0px;
}
.round {
  display: inline;
  float: left;
  width: 250px;
  height: 250px;
  border-style: solid;
  border: 0px;
  border-radius: 50%;
  margin:auto; 
  margin-left:200px;
}
.submenu {
  padding: 30px;
}
tr,
th {
  padding: 10px 20px;
  font-size: 20px;
}

td.submenu {
  padding: 3px 20px 3px 20px;
}
th {
  font-size: 20px;
}
#donate {
  background-color: #4b3832;
  color: white;
}
#kitty {
  background-color: #ecc9ab;
  color: #4b3832;
 
}
li {
  font-size: 20px;
  list-style-type: none;
}
img.small {
  height: 50px;
  width: 50px;
  display: inline;
}
span {
  font-size: 18px;
}
.footer {
  background-color: #4b3832;
  color: white;
  font-size: 12px;
}
p.footer {
  display: inline;
}
