// General Styles
* {
    box-sizing: border-box;
  }
html{
  font-size: 62.5%;
}
body {
  //background:@main-color; 

  .container{
    width:95%;
    margin:0 auto; 
  }

  font-family:@livvic; 
}

