

//sticky nav bar
.stick(){
    position: sticky; 
    top: 0; 
}


//for images
.fit(@width:100%){
    width:@width; 
    height: 60vh;
}


.flex-column(@flex-direction: column){
    display:flex; 
    flex-direction:@flex-direction; 
    justify-content: space-between;
    align-items: center; 
}