
//media queries
@mobile: ~"(max-width: 600px)"; 
@tablet: ~"(max-width: 900px)"; 
@desktop: ~"(max-width: 1200px)"; 
@desktop-wide: ~"(max-width: 1800px)";

//colors
@main-color:#0D1F22; 

//fonts
@livvic:'Livvic', sans-serif;